   
   
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

  }
  section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  section h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #292929;
    margin: 15px 0px;
  }
.container{
    width: 100%;
    padding: 0px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: rgb(31, 31, 31);
    padding: 20px;
    width: fit-content;
  
}
.calculator form input{
border:none;
outline: none;
border-radius:5px;
height:60px;
width:60px;
text-align:center;
font-size: 20px;
box-shadow: -8px -8px 15px rgba(225,225, 225, 0.1), 8px 8px 15px rgba(0,0, 0, 0.2 );
background-color: transparent;
color: #fff;
cursor: pointer;
margin: 10px;
}
.calculator form input:hover{
color: aqua;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}
form .display input {
font-size: 45px;
flex: 1;
border-radius: 0px;
text-align: right;
box-shadow: none;
border: 1px solid ;
padding: 20px 10px 20px;
}

form input.egual{
width: 145px;
}

form input.operator{
    color: aqua;
}

@media screen and (max-width: 768px){
    section{
        padding: 30px;
    }
 .container{
  padding: 0px 100px;
    }
    .calculator{
      width: 330px;
    }
    .calculator form input{
        height:50px;
        width:50px;
        font-size: 18px;
        margin: 8px;
        }

    form .display input{
        font-size: 30px;
    }
    form input.egual{
        width: 100px;
    }
  
}